<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quality.store.mapper.QualityInventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quality.store.entity.QualityInventory">
    <result column="id" property="id" />
    <result column="crtTime" property="crtTime" />
    <result column="updTime" property="updTime" />
    <result column="deleted" property="deleted" />
        <result column="sampleId" property="sampleId" />
        <result column="sampleCount" property="sampleCount" />
        <result column="receivedType" property="receivedType" />
        <result column="paySamplePerson" property="paySamplePerson" />
        <result column="receiveSamplePerson" property="receiveSamplePerson" />
        <result column="sampleName" property="sampleName" />
        <result column="sampleSpecification" property="sampleSpecification" />
        <result column="sampleModel" property="sampleModel" />
        <result column="delegateUnitID" property="delegateUnitID" />
        <result column="delegateUnitName" property="delegateUnitName" />
        <result column="sampleCode" property="sampleCode" />
        <result column="type" property="type" />
        <result column="storeName" property="storeName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        crtTime,
        updTime,
        deleted,
        sampleId, sampleCount, receivedType, paySamplePerson, receiveSamplePerson, sampleName, sampleSpecification, sampleModel, delegateUnitID, delegateUnitName, sampleCode, type, storeName
    </sql>

</mapper>
