<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quality.store.mapper.QualityFastdfsIndexMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quality.store.entity.QualityFastdfsIndex">
    <result column="id" property="id" />
    <result column="crtTime" property="crtTime" />
    <result column="updTime" property="updTime" />
    <result column="deleted" property="deleted" />
        <result column="fastdfsIndex" property="fastdfsIndex" />
        <result column="businessId" property="businessId" />
        <result column="barcode" property="barcode"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        crtTime,
        updTime,
        deleted,
        fastdfsIndex, businessId
    </sql>

</mapper>
