<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quality.delegate.mapper.QualityTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quality.delegate.entity.QualityTask">
    <result column="id" property="id" />
        <result column="crtTime" property="crtTime" />
        <result column="updTime" property="updTime" />
        <result column="deleted" property="deleted" />
        <result column="taskIssuedBy" property="taskIssuedBy" />
        <result column="taskIssuedDate" property="taskIssuedDate" />
        <result column="delegateUnit" property="delegateUnit" />
        <result column="sampleIDs" property="sampleIDs" />
        <result column="projectLeader" property="projectLeader" />
        <result column="projectParticipant" property="projectParticipant" />
        <result column="projectReviewer" property="projectReviewer" />
        <result column="environmentalTest" property="environmentalTest" />
        <result column="otherTest" property="otherTest" />
        <result column="checkAbilityIDs" property="checkAbilityIDs" />
        <result column="plannedCompletionDate" property="plannedCompletionDate" />
        <result column="standardValidityDate" property="standardValidityDate" />
        <result column="remarks" property="remarks" />
        <result column="agreementNo" property="agreementNo" />
        <result column="delegateType" property="delegateType" />
        <result column="settlement" property="settlement" />

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
          id,
        crtTime,
        updTime,
        deleted,
        taskIssuedBy,taskIssuedDate,delegateUnit,sampleIDs,projectLeader,projectParticipant,projectReviewer,environmentalTest,otherTest,checkAbilityIDs,plannedCompletionDate,standardValidityDate,remarks,agreementNo,delegateType,settlement
    </sql>

</mapper>
