<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quality.delegate.mapper.QualityStandardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quality.delegate.entity.QualityStandard">
    <result column="id" property="id" />
    <result column="crtTime" property="crtTime" />
    <result column="updTime" property="updTime" />
    <result column="deleted" property="deleted" />
        <result column="standardName" property="standardName" />
        <result column="specifications" property="specifications" />
        <result column="instrumentCode" property="instrumentCode" />
        <result column="certificateAttachment" property="certificateAttachment" />
        <result column="certificateCode" property="certificateCode" />
        <result column="uncertainty" property="uncertainty" />
        <result column="measurementDate" property="measurementDate" />
        <result column="validityDate" property="validityDate" />
        <result column="status" property="status" />
        <result column="crtUser" property="crtUser" />
        <result column="updUser" property="updUser" />
        <result column="remarks" property="remarks" />
        <result column="checkAbilityName" property="checkAbilityName" />
        <result column="checkAbilityId" property="checkAbilityId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        crtTime,
        updTime,
        deleted,
        standardName, specifications, instrumentCode,
         certificateAttachment, certificateCode, uncertainty, measurementDate,
          validityDate, status, crtUser, updUser,remarks,checkAbilityName,checkAbilityId
    </sql>

</mapper>
