<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">登录日志</div>
        <div class="layui-card-body">

            <div class="layui-form toolbar">
                <div class="layui-form-item">
                   <!-- <div class="layui-inline">
                        <label class="layui-form-label w-auto">账号：</label>
                        <div class="layui-input-inline mr0">
                            <input id="lrEdtAccount" class="layui-input" type="text" placeholder="请输入账号"/>
                        </div>
                    </div>-->
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">日期：</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input date-icon" id="crtTime" placeholder="查询日期范围">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="lrBtnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button id="lrBtnRM" class="layui-btn icon-btn"><i class="layui-icon">&#xe640;</i>批量删除</button>
                        <button id="lrBtnExp" class="layui-btn icon-btn"><i class="layui-icon">&#xe67d;</i>导出</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="logTable" lay-filter="logTable"></table>

        </div>
    </div>
</div>
<script>
    layui.use(['layer', 'laydate', 'table', 'util', 'config','admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var config = layui.config;
        var admin = layui.admin;

        //渲染表格
        var ins1 = table.render({
            elem: '#logTable',
            url: config.base_server + 'QualityLogger/query.do',
            page: true,
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers'},
                {field: 'userName', sort: true, title: '姓名'},
                {field: 'loginName', sort: true, title: '用户名'},
                {field: 'ipAddress', sort: true, title: 'IP'},
                {field: 'operation', sort: true, title: '描述'},
                {field: 'operationType', sort: true, title: '操作类型'},
                {field: 'methodName', sort: true, title: '操作行为'},

                {
                    field: 'crtTime', sort: true, templet: function (d) {
                        return util.toDateString(d.crtTime);
                    }, title: '创建时间'
                }
            ]]
        });

        //时间范围
        laydate.render({
            elem: '#crtTime',
            type: 'date',
            range: true,
            theme: 'molv'
        });

        //搜索按钮点击事件
        $('#lrBtnSearch').click(function () {
            var searchDate = $('#crtTime').val().split(' - ');
            table.reload('logTable', {
                where: {
                    "search-GE-crtTime": searchDate[0],
                    "search-LT-crtTime": searchDate[1]

                }
            });
        });

        // 导出excel
        $('#lrBtnExp').click(function () {
            var checkRows = table.checkStatus('logTable');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要导出的数据', {icon: 2});
            } else {
                table.exportFile(ins1.config.id, checkRows.data, 'xls');
            }
        });

        //批量删除
        $("#lrBtnRM").click(function(){
            var checkRows = table.checkStatus('logTable');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要删除的数据', {icon: 2});
            }else{
                var ids="";
                checkRows.data.forEach(function(item,index,array){
                    ids+=item.id+",";
                })
                if(ids){
                    ids = ids.slice(0,-1);
                }
                admin.req("QualityLogger/removeMore.do",{
                    entityIDS: ids
                },function(data){
                    if (data.status == 200) {
                        layer.msg(data.message, {icon: 1});
                        table.reload('logTable', {});
                    } else if(data.status == 500) {
                        layer.msg(data.message, {icon: 2});
                    }
                },'delete')
            }

        })

    });
</script>