<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">用户管理</div>
        <div class="layui-card-body">

            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">登录名</label>
                        <div class="layui-input-inline">
                            <input id="loginName" class="layui-input" type="text" placeholder="输入登录名"/>
                        </div>
                        <label class="layui-form-label w-auto">姓名</label>
                        <div class="layui-input-inline">
                            <input id="userName" class="layui-input" type="text" placeholder="输入姓名"/>
                        </div>
                        <label class="layui-form-label" w-auto>日期范围</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input date-icon" id="crtTime" placeholder="查询日期范围">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button id="userBtnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button id="userBtnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                        <button id="userBtnRM" class="layui-btn icon-btn"><i class="layui-icon">&#xe67d;</i>批量删除</button>
                        <button id="userBtnExp" class="layui-btn icon-btn"><i class="layui-icon">&#xe67d;</i>导出</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>

        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="userTableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="delete">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="reset">重置密码</a>
</script>

<!-- 表格状态列 -->
<script type="text/html" id="userTableState">
    <input type="checkbox" lay-filter="userTableState" value="{{d.userId}}" lay-skin="switch" lay-text="正常|锁定"
           {{d.state==0?'checked':''}}/>
</script>

<script>
    layui.use(['layer', 'table', 'form', 'util', 'config', 'admin','util','laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var table = layui.table;
        var form = layui.form;
        var util = layui.util;
        var config = layui.config;
        var admin = layui.admin;
        var laydate = layui.laydate;

        form.render('select');
        // 渲染表格
        var ins1 = table.render({
            elem: '#userTable',
            url: config.base_server + 'QualityUser/query.do',
            method: 'POST',
           /* where: {
                access_token: config.getToken().access_token
            },*/
            page: true,
            cellMinWidth: 100,
            cols: [[
                {type: 'checkbox'},
                {field: 'id',hide:true},
                {field: 'userName', sort: false, title: '姓名',width:100},
                {field: 'loginName', sort: false, title: '登录名'},
                {field: 'phone', sort: false, title: '电话',width:100},
                {field: 'mobile', sort: false, title: '手机号',width:120},
                {field: 'email', sort: false, title: '邮箱'},
                {field: 'crtTime', sort: true, title: '创建时间',templet:"<div>{{layui.util.toDateString(d.crtTime, 'yyyy-MM-dd')}}</div>"},
               /* {field: 'state', sort: true, templet: '#userTableState', title: '状态'},*/
                {align: 'center', toolbar: '#userTableBar', title: '操作', minWidth: 150}
            ]]
        });

        // 添加按钮点击事件
        $('#userBtnAdd').click(function () {
            showEditModel();
        });

        // 工具条点击事件
        table.on('tool(userTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'reset') { // 重置密码
                showPassModel(data);
            }else if(layEvent === 'delete'){
                layer.confirm('确定删除该条数据吗？', {
                    skin: 'layui-layer-admin'
                }, function (i) {
                    layer.close(i);
                    layer.load(2);
                    $.ajax({
                        url: config.base_server + 'QualityUser/removeById.do?entityID='+data.id,
                        type: 'delete',
                        dataType: 'JSON',
                        success: function (data) {
                            layer.closeAll('loading');
                            layer.msg(data.message, {icon: 1});
                            table.reload('userTable', {});
                        },
                        error: function (xhr) {
                            layer.closeAll('loading');
                            if (xhr.status == 500) {
                                layer.msg(xhr.responseJSON.message, {icon: 5});
                            }
                        }
                    });
                });
            }
        });

        // 显示表单弹窗
        function showEditModel(data) {
            admin.putTempData('quality_user', data);
            admin.open({
                title: data ? '修改用户' : '添加用户',
                url: 'components/system/user_form.html',
                success: function (layero, index) {
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');  // 禁止出现滚动条
                }
            });
        };

        laydate.render({
            elem: '#crtTime'
            ,range: true
        });

        // 显示重置密码窗口
        function showPassModel(data) {
            admin.putTempData('quality_user', data);
            admin.open({
                title: '重置密码',
                url: 'components/system/resetpassword.html',
                success: function (layero, index) {
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');  // 禁止出现滚动条
                }
            });
        };

        // 搜索按钮点击事件
        $('#userBtnSearch').click(function () {
            var loginName = $('#loginName').val();
            var userName = $('#userName').val();
            var timeValue = $("#crtTime").val().split(" - ");
            var begin = timeValue[0];
            var end = timeValue[1]

            table.reload('userTable', {where: {"search-LIKE-loginName": loginName,
                    "search-LIKE-userName": userName,
                    "search-GE-crtTime":begin,
                    "search-LT-crtTime":end,
                    }});
        });

        //批量删除
        $("#userBtnRM").click(function(){
            var checkRows = table.checkStatus('userTable');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要删除的数据', {icon: 2});
            }else{
                var ids="";
                checkRows.data.forEach(function(item,index,array){
                    ids+=item.id+",";
                })
                if(ids){
                    ids = ids.slice(0,-1);
                }
                admin.req("QualityUser/removeMore.do",{
                    entityIDS: ids
                },function(data){
                    if (data.status == 200) {
                        layer.msg(data.message, {icon: 1});
                        table.reload('userTable', {});
                    } else if(data.status == 500) {
                        layer.msg(data.message, {icon: 2});
                    }
                },'delete')
            }

        })

        // 导出excel
        $('#userBtnExp').click(function () {
            var checkRows = table.checkStatus('userTable');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要导出的数据', {icon: 2});
            } else {
                table.exportFile(ins1.config.id, checkRows.data, 'xls');
            }
        });

        // 修改user状态
        form.on('switch(userTableState)', function (obj) {
            layer.load(2);
            admin.req('user_state.json', {
                userId: obj.elem.value,
                state: obj.elem.checked ? 0 : 1
            }, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    // table.reload('table-user', {});
                } else {
                    layer.msg(data.msg, {icon: 2});
                    $(obj.elem).prop('checked', !obj.elem.checked);
                    form.render('checkbox');
                }
            }, 'GET');
        });
    });
</script>