<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quality.system.mapper.QualityTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quality.system.entity.QualityTemplate">
    <result column="id" property="id" />
    <result column="crtTime" property="crtTime" />
    <result column="updTime" property="updTime" />
    <result column="deleted" property="deleted" />
        <result column="templateName" property="templateName" />
        <result column="templateDESC" property="templateDESC" />
        <result column="uploadUser" property="uploadUser" />
        <result column="type" property="type" />
        <result column="attachmentId" property="attachmentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        crtTime,
        updTime,
        deleted,
        templateName, templateDESC, uploadUser, type, attachmentId
    </sql>

</mapper>
