<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quality.system.mapper.QualityMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quality.system.entity.QualityMenu">
    <result column="id" property="id" />
    <result column="crtTime" property="crtTime" />
    <result column="updTime" property="updTime" />
    <result column="deleted" property="deleted" />
        <result column="parentId" property="parentId" />
        <result column="parentIds" property="parentIds" />
        <result column="menuName" property="menuName" />
        <result column="menuUrl" property="menuUrl" />
        <result column="menuIcon" property="menuIcon" />
        <result column="permission" property="permission" />
        <result column="sort" property="sort" />
        <result column="path" property="path" />
        <result column="menuType" property="menuType" />
        <result column="menuState" property="menuState" />
        <result column="crtUser" property="crtUser" />
        <result column="updUser" property="updUser" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        crtTime,
        updTime,
        deleted,
        parentId, parentIds, menuName, menuUrl, menuIcon,permission, sort, path, menuType, menuState, crtUser, updUser, remarks
    </sql>

    <!--根据父ID查询-->
    <select id="selectListByParentId" resultType="com.quality.system.entity.QualityMenu">
        SELECT
        <include refid="Base_Column_List"/>
        FROM quality_menu
        WHERE parentIds LIKE CONCAT('%',#{parentId},'%')
    </select>

    <!--根据MenuType查询-->
    <select id="selectListByMenuType" resultType="com.quality.system.entity.QualityMenu">
        SELECT
        <include refid="Base_Column_List"/>
        FROM quality_menu
        WHERE menuType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and deleted=0 ORDER BY sort asc
    </select>


    <!--插入角色关联关系表-->
    <select id="selectByMenuId"  parameterType="integer" resultType="java.lang.Integer">
        select  count(1)  from  quality_role_menu where menuId = #{menuId}
    </select>

    <!--根据MenuType查询-->
    <select id="selectListByRoleId" resultType="com.quality.system.entity.QualityMenu">
        SELECT
        <include refid="Base_Column_List"/>
        FROM quality_menu
        WHERE menuType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="roleID != null">
            and  id in (select rm.menuId from quality_role_menu rm where rm.roleID=#{roleID})
        </if>
        and deleted=0 ORDER BY sort  asc
    </select>


</mapper>
