<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quality.system.mapper.QualityDictionariesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.quality.system.entity.QualityDictionaries">
    <result column="id" property="id" />
    <result column="deleted" property="deleted" />
    <result column="crtTime" property="crtTime" />
    <result column="updTime" property="updTime" />
        <result column="dictName" property="dictName" />
        <result column="dictValue" property="dictValue" />
        <result column="dictType" property="dictType" />
        <result column="parentId" property="parentId" />
        <result column="sort" property="sort" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        deleted,
        crtTime,
        updTime,
        dictName, dictValue, dictType, parentId, sort, remark
    </sql>

</mapper>
