<style>
    #advForm .layui-form-item {
        margin-bottom: 0;
        margin-top: 20px;
    }

    #advForm .layui-form-item .layui-inline {
        margin-bottom: 25px;
        margin-right: 0;
    }
</style>

<!-- 正文开始 -->
<div class="layui-fluid" id="advForm">

    <div class="layui-card">
        <div class="layui-card-header">协议书信息</div>
        <div class="layui-card-body">
            <input type="hidden" id="assignmentId" name="assignmentId">
            <div class="layui-form">
                <div class="layui-form-item layui-row">

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">协议书编号:</label>
                        <div class="layui-input-block">
                            <input name="agreementNo" id="agreementNo" placeholder="请输入协议书编号" type="text" class="layui-input" lay-verify="required"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">委托类型:</label>
                        <div class="layui-input-block">
                            <input name="delegateType" id="delegateType" type="text" placeholder="请输入委托类型" class="layui-input" lay-verify="required"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header">委托单位信息</div>
        <div class="layui-card-body">

            <div class="layui-form">
                <div class="layui-form-item layui-row">
                    <input type="hidden" id="unitId" name="unitId">
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">单位名称:</label>
                        <div class="layui-input-block">
                            <input name="unitName" id="unitName" placeholder="请输入单位名称" type="text" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">地址:</label>
                        <div class="layui-input-block">
                            <input name="address" id="address" type="text" placeholder="请输入地址" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">邮编</label>
                        <div class="layui-input-block">
                            <input name="zipCode" id="zipCode" placeholder="请输入邮编" type="text" class="layui-input" maxlength="100"
                            />
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            <input name="linkMan" id="linkMan" placeholder="请输入联系人" type="text" class="layui-input" maxlength="100"
                            />
                        </div>
                    </div>


                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                            <input name="phone" id="phone" placeholder="请输入电话" type="text" class="layui-input" maxlength="100"
                            />
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">手机</label>
                        <div class="layui-input-block">
                            <input name="mobile" id="mobile" placeholder="请输入手机" type="text" class="layui-input" maxlength="100"
                            />
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">传真</label>
                        <div class="layui-input-block">
                            <input name="fax"  id="fax" placeholder="请输入传真" type="text" class="layui-input" maxlength="100"
                            />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="layui-card">
        <div class="layui-card-header">样品信息</div>
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">样品名称</label>
                        <div class="layui-input-inline">
                            <input id="sampleName"  name="sampleName" class="layui-input" type="text" placeholder="输入样品名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="sampleFromBtnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button id="assignmentSampleFromBtnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>

                </div>
            </div>
            <table class="layui-table" id="assignmentSampleTable" lay-filter="assignmentSampleTable"></table>
        </div>

    </div>

    <div class="layui-card">
        <div class="layui-card-header">参考标准</div>
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">测量仪器名称</label>
                        <div class="layui-input-inline">
                            <input id="name" class="layui-input" type="text" placeholder="输入测量仪器名称"/>
                        </div>
                    </div>


                </div>
            </div>

            <table class="layui-table" id="assignmentReferenceStandardTable" lay-filter="assignmentReferenceStandardTable"></table>
        </div>

    </div>






    <div class="layui-card">
            <div style="text-align: center;margin-top: 30px;margin-bottom: 20px;">
                <button id="formAdvBtnSubmit" type="button" class="layui-btn">&emsp;提交&emsp;</button>
              <!--  <button type="button" class="layui-btn layui-btn-primary">&emsp;重置&emsp;</button>-->
            </div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['layer','admin', 'form', 'table','tableSelect', 'util', 'laydate','index','config'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var config = layui.config;
        var tableSelect = layui.tableSelect;
        var admin = layui.admin;
        var index = layui.index;

        form.render();



        // 委托单位
        tableSelect.render({
            elem: '#unitName',
            checkedKey: 'id',
            searchKey: '#unitName',
            table: {
                url: config.base_server + 'QualityDelegateunit/list.do',
                cols: [[
                    { type: 'radio' }
                    ,{field: 'id', title: 'ID'}
                    ,{field: 'unitName', title: '单位名称'}
                    ,{field: 'address', title: '地址'}
                    /*      ,{field: 'zipCode',title: '邮编'}*/
                    ,{field: 'linkMan',title: '联系人'}
                    /*            ,{field: 'phone', title: '电话'}
                     ,{field: 'mobile',title: '手机'}
                     ,{field: 'fax', title: '传真'}*/

                ]]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    $("#unitName").val(item.unitName);
                    $("#address").val(item.address);
                    $("#zipCode").val(item.zipCode);
                    $("#linkMan").val(item.linkMan);
                    $("#phone").val(item.phone);
                    $("#mobile").val(item.mobile);
                    $("#fax").val(item.fax);
                    $("#unitId").val(item.id);
                })

            }
        })

        /**样品信息*/
        var tableData=new Array(); // 用于存放表格数据

        tableSelect.render({
            elem: '#sampleName',
            checkedKey: 'id',
            searchKey: 'sampleName',
            table: {
                url: config.base_server + 'QualitySample/list.do',
                cols: [[
                    { type: 'checkbox' }
                    ,{field: 'id', title: 'ID'}
                    ,{field: 'sampleName', sort: true, title: '名称'}
                   /* ,{field: 'sampleCode', sort: true, title: '编号'}
                    ,{field: 'sampleModel', sort: true, title: '型号'}
                    ,{field: 'sampleSpecification', sort: true, title: '规格'}
                    ,{field: 'sampleNum', sort: true, title: '数量'}*/
                    ,{field: 'receivedDate', sort: true, title: '收样日期'}
                    ,{field: 'sender', sort: true, title: '送样人'}
                    /*,{field: 'receivedType', sort: true, title: '来样方式'}*/

                ]]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    debugger
                    var tableData =  table.cache["assignmentSampleTable"];
                    tableData.push(item);
                    table.reload('assignmentSampleTable',{
                        data : tableData
                    });
                })

            }
        })


        // 样品添加按钮点击事件
        $('#assignmentSampleFromBtnAdd').click(function () {

            admin.open({
                title: '添加样品信息',
                url: 'components/delegate/assignmentSampleForm.html',
                success: function (layero, index) {
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');  // 禁止出现滚动条
                }
            });
        });



        table.render({
            elem: '#assignmentSampleTable'
            ,data:tableData
            ,cols: [[
                ,{field: 'id', title: 'ID'}
                ,{field: 'sampleName', sort: true, title: '名称'}
                ,{field: 'sampleCode', sort: true, title: '编号'}
                ,{field: 'sampleModel', sort: true, title: '型号'}
                ,{field: 'sampleSpecification', sort: true, title: '规格'}
                ,{field: 'sampleNum', sort: true, title: '数量'}
                ,{field: 'receivedDate', sort: true, title: '收样日期'}
                ,{field: 'sender', sort: true, title: '送样人'}
                ,{field: 'receivedType', sort: true, title: '来样方式'}
            ]]
            , done: function(res, curr, count){
                //关闭新增表单，追加表数据
            }

        });



        /**参考标准信息*/
        var rsTableData=new Array(); // 用于存放表格数据

        tableSelect.render({
            elem: '#name',
            checkedKey: 'id',
            searchKey: 'name',
            table: {
                url: config.base_server + 'QualityReferenceStandard/list.do',
                cols: [[
                    { type: 'checkbox' }
                    ,{field: 'id', title: 'ID'}
                    ,{field: 'name',title: '测量仪器名称'}
                    /*,{field: 'measured',title: '被测量'}*/
                    ,{field: 'standardSpecification', title: '标准规范'}
                    ,{field: 'measureRange', title: '测量范围'}
                  /*  ,{field: 'extend', title: '扩展不确定度'}
                    ,{field: 'remark', title: '说明'}*/

                ]]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    var rsTableData =  table.cache["assignmentReferenceStandardTable"];
                    rsTableData.push(item);
                    table.reload('assignmentReferenceStandardTable',{
                        data : rsTableData
                    });
                })

            }
        })


        // 参考标准添加按钮点击事件
        $('#assignmentReferenceStandardFromBtnAdd').click(function () {

            admin.open({
                title: '添加参考标准信息',
                url: 'components/delegate/assignmentReferencestandardForm.html',
                success: function (layero, index) {
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');  // 禁止出现滚动条
                }
            });
        });



        table.render({
            elem: '#assignmentReferenceStandardTable'
            ,data:rsTableData
            ,cols: [[
                ,{field: 'id', title: 'ID'}
                ,{field: 'name', title: '测量仪器名称'}
                ,{field: 'measured', title: '被测量'}
                ,{field: 'standardSpecification',title: '标准规范'}
                ,{field: 'measureRange', title: '测量范围'}
                ,{field: 'extend', title: '扩展不确定度'}
                ,{field: 'remark', title: '说明'}
            ]]
            , done: function(res, curr, count){

            }

        });



        //回写数据
        var data =  admin.getTempData('quality_assignment');
        if (data) {
            layer.closeAll('loading');
            //协议书信息
            $("#assignmentId").val(data.assignmentId);
            $("#agreementNo").val(data.agreementNo);
            $("#delegateType").val(data.delegateType);
            //代理机构
            $("#unitName").val(data.unitName);
            $("#address").val(data.address);
            $("#zipCode").val(data.zipCode);
            $("#linkMan").val(data.linkMan);
            $("#phone").val(data.phone);
            $("#mobile").val(data.mobile);
            $("#fax").val(data.fax);
            $("#unitId").val(data.unitId);
            //样品
            debugger
            var sampledata =  data.qualitySamples;
            table.reload('assignmentSampleTable',{
                data : sampledata
            });
            //参考信息
            var referenceStandarddata =  data.qualityReferenceStandards;
            table.reload('assignmentReferenceStandardTable',{
                data : referenceStandarddata
            });
        }


        // 提交按钮
        $('#formAdvBtnSubmit').click(function () {
            var filed = new Object();
            debugger
            //协议书信息
            filed["assignmentId"]= $("#assignmentId").val();
            filed["agreementNo"]= $("#agreementNo").val();
            filed["delegateType"]= $("#delegateType").val();
            //代理机构
            filed["unitId"] = $("#unitId").val();
            filed["unitName"]= $("#unitName").val();
            filed["address"]= $("#address").val();
            filed["zipCode"]= $("#zipCode").val();
            filed["linkMan"]= $("#linkMan").val();
            filed["phone"]= $("#phone").val();
            filed["mobile"]= $("#mobile").val();
            filed["fax"]= $("#fax").val();

            //样品
            var sampledata =  table.cache["assignmentSampleTable"];
            //参考信息
            var referenceStandarddata =  table.cache["assignmentReferenceStandardTable"];
            filed["qualitySamples"] = sampledata;
            filed["qualityReferenceStandards"] = referenceStandarddata;

            layer.load(2);
            $.ajax({
                url: config.base_server + 'QualityAssignmentStatement/save.do',
                data: JSON.stringify(filed),
                type: "POST",
                dataType: 'json',
                contentType:"application/json",
                success: function (data) {
                    layer.closeAll('loading');
                    debugger
                    if (data.status == 200) {
                        layer.msg(data.message, {icon: 1});
                        //关闭tab
                        index.closeTab("/delegate/assignmentForm");
                    } else {
                        layer.msg(data.message, {icon: 2});
                    }
                }

            });


        });
    });
</script>