<style>
    #advForm .layui-form-item {
        margin-bottom: 0;
        margin-top: 20px;
    }

    #advForm .layui-form-item .layui-inline {
        margin-bottom: 25px;
        margin-right: 0;
    }
</style>

<!-- 正文开始 -->
<div class="layui-fluid" id="advForm">

    <div class="layui-card">
        <div class="layui-card-header">协议书信息</div>
        <div class="layui-card-body">
            <input type="hidden" id="assignmentId" name="assignmentId">
            <div class="layui-form">
                <div class="layui-form-item layui-row">

                    <!--<div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">协议书编号:</label>
                        <div class="layui-input-block">
                            <input name="agreementNo" id="agreementNo" placeholder="请输入协议书编号" type="text" class="layui-input" lay-verify="required"/>
                        </div>
                    </div>-->
                    <input name="agreementNo" id="agreementNo" type="hidden"/>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">委托类型:</label>
                        <div class="layui-input-block">
                            <input name="delegateType" id="delegateType" type="text" placeholder="请输入委托类型" class="layui-input" lay-verify="required"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">选择派发人:</label>
                        <div class="layui-input-block">
                            <select  name="distributor" id="distributor" lay-filter="distributor" lay-search="">
                            </select>
                        </div>
                    </div>

                </div>
                <div class="layui-form-item layui-row">
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">受理人:</label>
                        <div class="layui-input-block">
                            <input type="hidden" id="acceptorID">
                            <input name="acceptor" id="acceptor" type="text" readonly class="layui-input"/>

                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">受理日期:</label>
                        <div class="layui-input-block">
                            <input name="acceptDate" id="acceptDate" type="text" placeholder="yyyy-MM-dd" class="layui-input date-icon" lay-verify="required"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-row">
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">复核人:</label>
                        <div class="layui-input-block">
                            <input type="hidden" id="reviewerID">
                            <select name="reviewer" id="reviewer" xm-select="reviewer" lay-verify="reviewer" xm-select-search="">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">复核日期:</label>
                        <div class="layui-input-block">
                            <input name="reviewDate" id="reviewDate" type="text" placeholder="yyyy-MM-dd" class="layui-input date-icon" lay-verify="required"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-form">
                <label class="layui-form-label">附件</label>
                <input name="agreementAttachment"  id="attid" type="hidden">
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="attachmentUpload">上传附件</button>

                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="attachment" style="cursor:pointer"
                             src="">
                        <p id="attachmentText"></p>
                    </div>
                </div>
            </div>


            <div class="layui-form">
                <label class="layui-form-label">受理人意见</label>
                <div class="layui-input-block">
                    <textarea name="acceptOpinion" id="acceptOpinion"  placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>

            <br/>
            <div class="layui-form">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="remarks" id="remarks" placeholder="请输入备注" type="text" class="layui-textarea"></textarea>
                </div>
            </div>


        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header">委托单位信息</div>
        <div class="layui-card-body">

            <div class="layui-form">
                <div class="layui-form-item layui-row">
                    <input type="hidden" id="unitId" name="unitId">
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">单位名称:</label>
                        <div class="layui-input-block">
                            <input name="unitName" id="unitName" placeholder="请输入单位名称" type="text" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">地址:</label>
                        <div class="layui-input-block">
                            <input name="address" id="address" type="text" placeholder="请输入地址" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">邮编</label>
                        <div class="layui-input-block">
                            <input name="zipCode" id="zipCode" placeholder="请输入邮编" type="text" class="layui-input" maxlength="100"
                            />
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">联系人</label>
                        <div class="layui-input-block">
                            <input name="linkMan" id="linkMan" placeholder="请输入联系人" type="text" class="layui-input" maxlength="100"
                            />
                        </div>
                    </div>


                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-block">
                            <input name="phone" id="phone" placeholder="请输入电话" type="text" class="layui-input" maxlength="100"
                            />
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">手机</label>
                        <div class="layui-input-block">
                            <input name="mobile" id="mobile" placeholder="请输入手机" type="text" class="layui-input" maxlength="100"
                            />
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">传真</label>
                        <div class="layui-input-block">
                            <input name="fax"  id="fax" placeholder="请输入传真" type="text" class="layui-input" maxlength="100"
                            />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="layui-card">
            <div style="text-align: center;margin-top: 30px;margin-bottom: 20px;">
                <button id="formAdvBtnSubmit" type="button" class="layui-btn">&emsp;提交&emsp;</button>
              <!--  <button type="button" class="layui-btn layui-btn-primary">&emsp;重置&emsp;</button>-->
            </div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['layer','admin', 'form', 'table','tableSelect','formSelects','util','upload', 'laydate','index','config'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var config = layui.config;
        var tableSelect = layui.tableSelect;
        var admin = layui.admin;
        var index = layui.index;
        var upload = layui.upload;
        var formSelects = layui.formSelects;

        form.render();
        laydate.render({
            elem: '#acceptDate'
        });

        laydate.render({
            elem: '#reviewDate'
        });


        $.ajax({
            url: config.base_server + 'QualityUser/queryByMap.do',
            type: "GET",
            async:false,
            dataType: 'json',
            contentType:"application/json",
            success: function (json) {
                var html='<option value="">直接选择或搜索选择</option>';
                if (json.status == 200) {
                    for(var i=0;i<json.data.length;i++){
                        var type =json.data[i];
                        html+='<option value='+type.userID+'>'+type.userName+'</option>'
                    }
                }
                $("#distributor").append(html);
            }

        });


        form.render('select');



        $("#acceptor").val($('#huName').text());
        //监听下拉框的打开
        var options ={
            type: 'GET',                //请求方式: post, get, put, delete...
            header: {"Content-Type":"application/json;charset=UTF-8"},                 //自定义请求头
            data: {},                   //自定义除搜索内容外的其他数据
            searchUrl: config.base_server + 'QualityUser/queryByMap.do',              //搜索地址, 默认使用xm-select-search的值, 此参数优先级高
            searchName: 'userName',      //自定义搜索内容的key值
            searchVal: '',              //自定义搜索内容, 搜素一次后失效, 优先级高于搜索框中的值
            keyName: 'userName',            //自定义返回数据中name的key, 默认 name
            keyVal: 'userID',            //自定义返回数据中value的key, 默认 value
            keySel: 'selected',         //自定义返回数据中selected的key, 默认 selected
            keyDis: 'disabled',         //自定义返回数据中disabled的key, 默认 disabled
            keyChildren: 'children',    //联动多选自定义children
            delay: 500,                 //搜索延迟时间, 默认停止输入500ms后开始搜索
            direction: 'auto',          //多选下拉方向, auto|up|down
            response: {
                statusCode: 200,          //成功状态码
                statusName: 'status',     //code key
                msgName: 'message',         //msg key
                dataName: 'data'        //data key
            },
            success: function(id, url, searchVal, result){      //使用远程方式的success回调
                var  reviewer = $("#reviewerID").val();
                if(reviewer){
                    formSelects.value('reviewer',reviewer.split(','),true);
                }
            },
            error: function(id, url, searchVal, err){           //使用远程方式的error回调
            },
            beforeSuccess: function(id, url, searchVal, result){        //success之前的回调, 干嘛呢? 处理数据的, 如果后台不想修改数据, 你也不想修改源码, 那就用这种方式处理下数据结构吧

                //然后返回数据
                return result;  //必须return一个结果, 这个结果要符合对应的数据结构
            },
            beforeSearch: function(id, url, searchVal){         //搜索前调用此方法, return true将触发搜索, 否则不触发
                return true;
            },
            clearInput: false,          //当有搜索内容时, 点击选项是否清空搜索内容, 默认不清空
        };
        formSelects.config('reviewer',options);

        //上传文件
        var uploadInst = upload.render({
            elem: '#attachmentUpload'
            //,url: '/components/template/file/ok.json'
            , url: config.base_server + 'QualityAttachment/save.do'
            ,accept:'file',
            data: {
                attid: function(){
                    return $('#attid').val();
                }
            }
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    debugger
                    var typeindex = file.name.indexOf(".");
                    var type = file.name.substr(typeindex+1);
                    if(type){
                        if(type.toLowerCase()=="ppt" || type.toLowerCase()=="pptx"){
                            result = "assets/images/fti/ppt.png"
                        }else if(type.toLowerCase()=="doc" || type.toLowerCase()=="docx"){
                            result = "assets/images/fti/doc.png"
                        }else if(type.toLowerCase()=="xls" || type.toLowerCase()=="xlsx"){
                            result = "assets/images/fti/xls.png"
                        }else if(type.toLowerCase()=="html" || type.toLowerCase()=="html"){
                            result = "assets/images/fti/htm.png"
                        }else if(type.toLowerCase()=="pdf"){
                            result = "assets/images/fti/pdf.png"
                        }else if(type.toLowerCase()=="swf"){
                            result = "assets/images/fti/swf.png"
                        }else if(type.toLowerCase()=="zip" || type.toLowerCase()=="rar" || type.toLowerCase()=="7z"){
                            result = "assets/images/fti/zip.png"
                        }else if(type.toLowerCase()=="mp3"){
                            result = "assets/images/fti/mp3.png"
                        }else if(type.toLowerCase()=="mp4"){
                            result = "assets/images/fti/mp4.png"
                        }else {
                            result = "assets/images/fti/file.png"
                        }
                    }

                    $('#attachment').attr('src', result); //图片链接（base64）
                    $('#attachmentText').html(file.name);
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.status==200){
                    $("#attid").val(res.data);
                    return layer.msg('上传成功');
                }
            }
            ,error: function(){
                return layer.msg('上传失败');
                //演示失败状态，并实现重传
                //var demoText = $('#demoText');
                //demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                //demoText.find('.demo-reload').on('click', function(){
                // uploadInst.upload();
                //});
            }
        });



        // 委托单位
        tableSelect.render({
            elem: '#unitName',
            checkedKey: 'id',
            searchKey: '#unitName',
            table: {
                url: config.base_server + 'QualityDelegateunit/list.do',
                cols: [[
                    { type: 'radio' }
                    ,{field: 'id', title: 'ID'}
                    ,{field: 'unitName', title: '单位名称'}
                    ,{field: 'address', title: '地址'}
                    /*      ,{field: 'zipCode',title: '邮编'}*/
                    ,{field: 'linkMan',title: '联系人'}
                    /*            ,{field: 'phone', title: '电话'}
                     ,{field: 'mobile',title: '手机'}
                     ,{field: 'fax', title: '传真'}*/

                ]]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    $("#unitName").val(item.unitName);
                    $("#address").val(item.address);
                    $("#zipCode").val(item.zipCode);
                    $("#linkMan").val(item.linkMan);
                    $("#phone").val(item.phone);
                    $("#mobile").val(item.mobile);
                    $("#fax").val(item.fax);
                    $("#unitId").val(item.id);
                })

            }
        })





        // 提交按钮
        $('#formAdvBtnSubmit').click(function () {
            var filed = new Object();
            debugger
            //协议书信息
            filed["assignmentId"]= $("#assignmentId").val();
            filed["agreementNo"]= $("#agreementNo").val();
            filed["delegateType"]= $("#delegateType").val();
            filed["remarks"] = $("#remarks").val();
            filed["agreementAttachment"] = $("#attid").val();
            filed["acceptor"]= $("#acceptorID").val();
            filed["reviewer"]= formSelects.value('reviewer','valStr');
            filed["reviewDate"]= $("#reviewDate").val();
            filed["acceptDate"]= $("#acceptDate").val();
            filed["acceptOpinion"] =$("#acceptOpinion").val();
            filed["distributor"] =$("#distributor").val();
            //代理机构
            filed["unitId"] = $("#unitId").val();
            filed["unitName"]= $("#unitName").val();
            filed["address"]= $("#address").val();
            filed["zipCode"]= $("#zipCode").val();
            filed["linkMan"]= $("#linkMan").val();
            filed["phone"]= $("#phone").val();
            filed["mobile"]= $("#mobile").val();
            filed["fax"]= $("#fax").val();


            layer.load(2);
            $.ajax({
                url: config.base_server + 'QualityAssignmentStatement/save.do',
                data: JSON.stringify(filed),
                type: "POST",
                dataType: 'json',
                contentType:"application/json",
                success: function (data) {
                    layer.closeAll('loading');
                    debugger
                    if (data.status == 200) {
                        layer.msg(data.message, {icon: 1});
                        //关闭tab
                        index.closeTab("/delegate/assignmentForm");
                    } else {
                        layer.msg(data.message, {icon: 2});
                    }
                }

            });


        });

        //回写数据
        var data =  admin.getTempData('quality_assignment');
        debugger
        if (data) {
            layer.closeAll('loading');
            //协议书信息
            debugger
            $("#assignmentId").val(data.assignmentId);
            $("#agreementNo").val(data.agreementNo);
            $("#delegateType").val(data.delegateType);
            $("#remarks").val(data.remarks);
            $("#attid").val(data.agreementAttachment);
            $("#distributor").val(data.distributor);
            form.render('select');
            $("#acceptorID").val(data.acceptor);
            $("#acceptor").val($('#huName').text());
            $("#reviewerID").val(data.reviewer);
            formSelects.render();
            $("#reviewDate").val(data.reviewDate);
            $("#acceptDate").val(data.acceptDate);
            $("#acceptOpinion").val(data.acceptOpinion);
            //代理机构
            $("#unitName").val(data.unitName);
            $("#address").val(data.address);
            $("#zipCode").val(data.zipCode);
            $("#linkMan").val(data.linkMan);
            $("#phone").val(data.phone);
            $("#mobile").val(data.mobile);
            $("#fax").val(data.fax);
            $("#unitId").val(data.unitId);


            //开始判断上传文件的
            if(data.agreementAttachment){
                $("#attachment").bind("click",function(){
                    var downloadUrl = config.base_server + 'QualityAttachment/download/file.do?attachmentId='+data.agreementAttachment;
                    window.location.href = downloadUrl;

                })
                $.ajax({
                    url: config.base_server + 'QualityAttachment/queryById.do',
                    data: {"id":data.agreementAttachment},
                    type: "GET",
                    dataType: 'json',
                    contentType:"application/json",
                    success: function (json) {
                        if(json.data.type!="jpg"){
                            var url = json.data.smpath;
                            $("#attachment").attr("src", url)
                                .attr("width",json.data.smImgWidth)
                                .attr("height",json.data.smImgHeight);
                            $('#attachmentText').html(json.data.fileName);
                        }else{
                            var url = config.base_server + "QualityAttachment/download/image.do?attachmentId="+data.agreementAttachment;
                            $("#attachment").attr("src", url)
                                .attr("width",json.data.smImgWidth)
                                .attr("height",json.data.smImgHeight);
                            $('#attachmentText').html(json.data.fileName);
                        }

                    }
                });

            }
        }
    });
</script>