<style>
    #advForm .layui-form-item {
        margin-bottom: 0;
        margin-top: 20px;
    }

    #advForm .layui-form-item .layui-inline {
        margin-bottom: 25px;
        margin-right: 0;
    }
</style>

<!-- 正文开始 -->
<div class="layui-fluid" id="advForm">

    <div class="layui-card">
        <div class="layui-card-header">任务单信息</div>
        <div class="layui-card-body">
            <input type="hidden" id="taskId" name="taskId">
            <div class="layui-form">
                <div class="layui-form-item layui-row">

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">任务签发人:</label>
                        <div class="layui-input-block">
                            <input name="taskIssuedBy" id="taskIssuedBy" placeholder="请输入任务签发人" type="text" class="layui-input" lay-verify="required"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">任务签发日期:</label>
                        <div class="layui-input-block">
                            <input name="taskIssuedDate" id="taskIssuedDate" type="text" placeholder="请输入任务签发日期" class="layui-input" lay-verify="required"/>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md10">
                        <label class="layui-form-label">单位名称:</label>
                        <div class="layui-input-block">
                            <input name="delegateUnit" id="delegateUnit" placeholder="请输入单位名称" type="text" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">协议书编号:</label>
                        <div class="layui-input-block">
                            <input name="agreementNo" id="agreementNo" placeholder="请输入协议书编号" type="text" class="layui-input" lay-verify="required"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">委托类型:</label>
                        <div class="layui-input-block">
                            <input name="delegateType" id="delegateType" type="text" placeholder="请输入委托类型" class="layui-input" lay-verify="required"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">项目负责人:</label>
                        <div class="layui-input-block">
                            <input name="projectLeader" id="projectLeader" type="text" placeholder="请选择项目负责人" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">项目参加人:</label>
                        <div class="layui-input-block">
                            <input name="projectParticipant" id="projectParticipant" type="text" placeholder="请选择项目参加人" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">项目复核人:</label>
                        <div class="layui-input-block">
                            <input name="projectReviewer" id="projectReviewer" type="text" placeholder="请选择项目复核人" class="layui-input"/>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="layui-card">
        <div class="layui-card-header">样品信息</div>
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">样品名称</label>
                        <div class="layui-input-inline">
                            <input id="sampleName"  name="sampleName" class="layui-input" type="text" placeholder="输入样品名称"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button id="assignmentSampleFromBtnAdd" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>

                </div>
            </div>
            <table class="layui-table" id="taskSampleTable" lay-filter="taskSampleTable"></table>
        </div>

    </div>

    <div class="layui-card">
        <div class="layui-card-header">考核能力</div>
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">规范名称</label>
                        <div class="layui-input-inline">
                            <input id="specificationCName"  name="specificationCName" class="layui-input" type="text" placeholder="输入规范名称"/>
                        </div>
                    </div>

                </div>
            </div>
            <table class="layui-table" id="taskCheckAbilityTable" lay-filter="taskCheckAbilityTable"></table>
        </div>

    </div>

    <div class="layui-card">
            <div style="text-align: center;margin-top: 30px;margin-bottom: 20px;">
                <button id="formAdvBtnSubmit" type="button" class="layui-btn">&emsp;提交&emsp;</button>
              <!--  <button type="button" class="layui-btn layui-btn-primary">&emsp;重置&emsp;</button>-->
            </div>
    </div>
</div>


<!-- 表格操作列 -->
<script type="text/html" id="taskCheckAbilityTableBar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- js部分 -->
<script>
    layui.use(['layer','admin', 'form', 'table','tableSelect', 'util', 'laydate','index','config'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var config = layui.config;
        var tableSelect = layui.tableSelect;
        var admin = layui.admin;
        var index = layui.index;

        form.render();

        /**样品信息*/
        var tableData=new Array(); // 用于存放表格数据

        tableSelect.render({
            elem: '#sampleName',
            checkedKey: 'id',
            searchKey: 'sampleName',
            table: {
                url: config.base_server + 'QualitySample/list.do',
                cols: [[
                    { type: 'checkbox' }
                    ,{field: 'id', title: 'ID'}
                    ,{field: 'sampleName', sort: true, title: '名称'}
                   /* ,{field: 'sampleCode', sort: true, title: '编号'}
                    ,{field: 'sampleModel', sort: true, title: '型号'}
                    ,{field: 'sampleSpecification', sort: true, title: '规格'}
                    ,{field: 'sampleNum', sort: true, title: '数量'}*/
                    ,{field: 'receivedDate', sort: true, title: '收样日期'}
                    ,{field: 'sender', sort: true, title: '送样人'}
                    /*,{field: 'receivedType', sort: true, title: '来样方式'}*/

                ]]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    var tableData =  table.cache["taskSampleTable"];
                    tableData.push(item);
                    table.reload('taskSampleTable',{
                        data : tableData
                    });
                })

            }
        })


        // 样品添加按钮点击事件
        $('#assignmentSampleFromBtnAdd').click(function () {

            admin.open({
                title: '添加样品信息',
                url: 'components/delegate/assignmentSampleForm.html',
                success: function (layero, index) {
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');  // 禁止出现滚动条
                }
            });
        });



        table.render({
            elem: '#taskSampleTable'
            ,data:tableData
            ,cols: [[
                ,{field: 'id', title: 'ID'}
                ,{field: 'sampleName', sort: true, title: '名称'}
                ,{field: 'sampleCode', sort: true, title: '编号'}
                ,{field: 'sampleModel', sort: true, title: '型号'}
                ,{field: 'sampleSpecification', sort: true, title: '规格'}
                ,{field: 'sampleNum', sort: true, title: '数量'}
                ,{field: 'receivedDate', sort: true, title: '收样日期'}
                ,{field: 'sender', sort: true, title: '送样人'}
                ,{field: 'receivedType', sort: true, title: '来样方式'}

            ]]
            , done: function(res, curr, count){
                //关闭新增表单，追加表数据
            }

        });


        /**参考标准信息*/
        var caTableData=new Array(); // 用于存放表格数据

        tableSelect.render({
            elem: '#specificationCName',
            checkedKey: 'id',
            searchKey: 'specificationCName',
            table: {
                url: config.base_server + 'QualityCheckAbility/list.do',
                cols: [[
                    { type: 'checkbox' }
                    ,{field: 'id', title: 'ID'}
                    ,{field: 'specificationCName',title: '规范名称'}
                    ,{field: 'specificationEName', title: '规范名称（英文）'}
                    ,{field: 'codeCName', title: '代号'}
                    ,{field: 'codeEName', title: '代号（英文）'}
                ]]
            },
            done: function (elem, data) {
                layui.each(data.data, function (index, item) {
                    var rsTableData =  table.cache["taskCheckAbilityTable"];
                    rsTableData.push(item);
                    table.reload('taskCheckAbilityTable',{
                        data : rsTableData
                    });
                })

            }
        })


        // 工具条点击事件
        table.on('tool(taskCheckAbilityTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
         if (layEvent === 'del') { // 删除
                doDelete(obj);
            }
        });

        // 删除
        function doDelete(obj) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);
                admin.req('QualityCheckAbility/removeById.do?entityID=' + obj.data.id, {}, function (data) {
                    layer.closeAll('loading');
                    if (data.status == 200) {
                        layer.msg(data.message, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(data.message, {icon: 2});
                    }
                }, 'DELETE');
            });
        }
        table.render({
            elem: '#taskCheckAbilityTable'
            ,data:tableData
            ,cols: [[
                ,{field: 'id', title: 'ID'}
                ,{field: 'specificationCName',title: '规范名称'}
                ,{field: 'specificationEName', title: '规范名称（英文）'}
                ,{field: 'codeCName', title: '代号'}
                ,{field: 'codeEName', title: '代号（英文）'}
                ,{align: 'center', toolbar: '#taskCheckAbilityTableBar', title: '操作'}

            ]]
            , done: function(res, curr, count){
                //关闭新增表单，追加表数据
            }

        });

        function removeEmptyArrayEle(arr){
            for(var i = 0; i < arr.length; i++) {
                if(arr[i] == undefined||arr[i].length==0) {
                    arr.splice(i,1);
                    i = i - 1; // i - 1 ,因为空元素在数组下标 2 位置，删除空之后，后面的元素要向前补位，
                    // 这样才能真正去掉空元素,觉得这句可以删掉的连续为空试试，然后思考其中逻辑
                }
            }
            return arr;
        };
        // 提交按钮
        $('#formAdvBtnSubmit').click(function () {
            var filed = new Object();
            debugger
            //任务单
            filed["taskId"]= $("#taskId").val();

            filed["taskIssuedDate"]= $("#taskIssuedDate").val();
            filed["taskIssuedBy"]= $("#taskIssuedBy").val();
            filed["agreementNo"]= $("#agreementNo").val();
            filed["delegateType"]= $("#delegateType").val();
            filed["delegateUnit"]= $("#delegateUnit").val();

            //样品
            var sampledata =  table.cache["taskSampleTable"];
            //参考信息
            var askCheckAbilitydata =  table.cache["taskCheckAbilityTable"];
            filed["qualitySamples"] = sampledata;
            filed["qualityCheckAbilities"] = removeEmptyArrayEle(askCheckAbilitydata);

            layer.load(2);
            $.ajax({
                url: config.base_server + 'QualityTask/save.do',
                data: JSON.stringify(filed),
                type: "POST",
                dataType: 'json',
                contentType:"application/json",
                success: function (data) {
                    layer.closeAll('loading');
                    debugger
                    if (data.status == 200) {
                        layer.msg(data.message, {icon: 1});
                        //关闭tab
                        index.closeTab("/delegate/taskForm");
                    } else {
                        layer.msg(data.message, {icon: 2});
                    }
                }

            });


        });

        //回写数据
        var data =  admin.getTempData('quality_task');
        debugger
        if (data) {
            layer.closeAll('loading');
            $("#taskId").val(data.taskId);
            //任务单
            $("#taskIssuedDate").val(data.taskIssuedDate);
            $("#taskIssuedBy").val(data.taskIssuedBy);
            $("#agreementNo").val(data.agreementNo);
            $("#delegateType").val(data.delegateType);
            $("#delegateUnit").val(data.delegateUnit);
            //样品
            debugger
            var sampledata =  data.qualitySamples;
            table.reload('taskSampleTable',{
                data : sampledata
            });
            var askCheckAbilitydata =  data.qualityCheckAbilities;
            table.reload('taskCheckAbilityTable',{
                data : askCheckAbilitydata
            });



        }
    });
</script>